%h2= t(".user_data")
%dl.dl-horizontal
  %dt= t(".callsign")
  %dd= @user.callsign
  %dt= t(".email")
  %dd= @user.email
%nav
  .row
    .col-md-12
      = link_to t(:edit_user_data), edit_user_registration_path
  .row
    .col-md-12
      = link_to t(:log_out), destroy_user_session_path, method: :delete
