.text-center
  %h2= t('devise.rememberable.forgot_your_password')
  .row
    .col-md-4.col-md-offset-4
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }) do |f|
        = devise_error_messages!
        .form-group
          .col-md-12
            = f.label t('parameters.email')
            = f.email_field :email, autofocus: true, class: 'form-control'
        = f.submit t('devise.rememberable.send_reset_password_instructions'), class: 'btn btn-default'
      = render "devise/shared/links"
