%p= t('devise.mailer.reset_password_instructions.hello', id: @resource.callsign)
%p= t('devise.mailer.reset_password_instructions.someone_requested_reset')
%p= link_to t('devise.mailer.reset_password_instructions.change_my_password'), edit_password_url(@resource, reset_password_token: @token)
%p= link_to t('devise.mailer.reset_password_instructions.ignore_if_not_requested')
%p= link_to t('devise.mailer.reset_password_instructions.password_wont_change_without_link')
